
/* Task list, from http://themes.kopyov.com/itsbrain/fixed/dark/contacts.html */
.task-list {
  display: block;
  color: #D5D5D5;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  background: url(../img/task-list/widgetBg.png) repeat;
  clear: both;
  border: 1px solid #272C30;
  border-top: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  box-shadow: inset 0 0 2px #272B2C;
  -moz-box-shadow: inset 0 0 2px #272b2c;
  -webkit-box-shadow: inset 0 0 2px #272B2C;
  -moz-box-shadow: 0 1px 0 #4b4e50;
  -webkit-box-shadow: 0 1px 0 #4B4E50;
  box-shadow: 0 1px 0 #4B4E50;
}

.task-list.black {
  background: none;
  border: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  -khtml-border-radius: none;
  border-radius: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.task-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task-list > ul > li {
  background: url(../img/task-list/linesSep.png) repeat-x 0 0;
  position: relative;
}

.task-list.black > ul > li {
  background: black;
  background: -moz-linear-gradient(top, #161616 0%, black 100%);
  background: -webkit-linear-gradient(top, #161616 0%, black 100%);
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  color: white;
  border-radius: 3px;
  margin: 0 auto;
}

.task-list.black > ul > li:hover {
  background: -moz-linear-gradient(top, #202020 0%, #161616 100%);
  background: -webkit-linear-gradient(top, #202020 0%, #161616 100%);
}

/* Task list - content */
.task-list > ul > li .content {
  padding: 8px 0 8px 12px;
}

/* Task list - dataList */
.task-list > ul > li ul.dataList {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: -1px;
  font-size: 11px;
}

.task-list > ul > li ul.dataList  li {
  display: inline-block;
  padding: 0 6px 1px 6px!important;
  border: none!important;
  margin-left: 6px;
}

.task-list > ul > li ul.dataList .red {
  color: #E0A5A5;
}

.task-list > ul > li ul.dataList .cNote {
  background: url(../img/task-list/darkBg.png) repeat;
  display: block;
  padding: 0 6px 1px 6px;
  border: 1px solid #24272B;
  color: #878787;
  margin-top: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

